---
import Layout from '../layouts/Layout.astro';
import PlotFiigure from '../components/PlotFiigure.astro';
import PlotWeather from '../components/PlotWeather.astro';
---

<Layout>
    <h1>Menu</h1>
    <h2>Vous êtes au menu, dirigez vous vers les graphiques vous intéressant via le menu</h2>
</Layout>
